/* custom styles */
.gradient {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to bottom left, #b309aa 20%, #da8619 80%);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin: auto;
  padding: 1em;
}
.main {
  border: 1px solid #fff;
  max-width: 500px;
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
}
p {
  font-size: xx-small;
  color: rgb(184, 38, 38);
  margin: 0;
}
